<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dywl.logistics.model.crm.mapper.shipper.ShipperContractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dywl.logistics.model.crm.entity.shipper.ShipperContract">
        <id column="id" property="id" />
        <result column="co_id" property="coId" />
        <result column="name" property="name" />
        <result column="service_rate" property="serviceRate" />
        <result column="auto_sign" property="autoSign" />
        <result column="auto_apply" property="autoApply" />
        <result column="check_track" property="checkTrack" />
        <result column="check_pay" property="checkPay" />
        <result column="oil_quota" property="oilQuota" />
        <result column="ins_quota" property="insQuota" />
        <result column="buy_ins" property="buyIns" />
        <result column="ins_rate" property="insRate" />
        <result column="create_uid" property="createUid" />
        <result column="create_time" property="createTime" />
        <result column="update_uid" property="updateUid" />
        <result column="update_time" property="updateTime" />
        <result column="del" property="del" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, co_id, name, service_rate, auto_sign, auto_apply, check_track, check_pay, oil_quota, ins_quota, buy_ins, ins_rate, create_uid, create_time, update_uid, update_time, del
    </sql>

</mapper>
