<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dywl.logistics.model.crm.mapper.vehicle.VehicleLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dywl.logistics.model.crm.entity.vehicle.VehicleLog">
        <id column="id" property="id" />
        <result column="vehicle_id" property="vehicleId" />
        <result column="operate_uid" property="operateUid" />
        <result column="operate_uname" property="operateUname" />
        <result column="operate_type" property="operateType" />
        <result column="operate_time" property="operateTime" />
        <result column="description" property="description" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, vehicle_id, operate_uid, operate_uname, operate_type, operate_time, description, remark
    </sql>

</mapper>
