<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dywl.logistics.model.crm.mapper.broker.BrokerCompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dywl.logistics.model.crm.entity.broker.BrokerCompany">
        <id column="id" property="id" />
        <result column="broker_id" property="brokerId" />
        <result column="co_name" property="coName" />
        <result column="busi_no" property="busiNo" />
        <result column="create_uid" property="createUid" />
        <result column="create_time" property="createTime" />
        <result column="update_uid" property="updateUid" />
        <result column="update_time" property="updateTime" />
        <result column="del" property="del" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, broker_id, co_name, busi_no, create_uid, create_time, update_uid, update_time, del
    </sql>

</mapper>
