<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dywl.logistics.model.crm.mapper.BrokerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dywl.logistics.model.crm.entity.Broker">
        <id column="id" property="id" />
        <result column="broker_tel" property="brokerTel" />
        <result column="broker_name" property="brokerName" />
        <result column="contacts_tel" property="contactsTel" />
        <result column="idcard" property="idcard" />
        <result column="reg_time" property="regTime" />
        <result column="type" property="type" />
        <result column="verify_time" property="verifyTime" />
        <result column="verify_uid" property="verifyUid" />
        <result column="verify_uname" property="verifyUname" />
        <result column="verify_status" property="verifyStatus" />
        <result column="enabled" property="enabled" />
        <result column="black" property="black" />
        <result column="black_time" property="blackTime" />
        <result column="black_uid" property="blackUid" />
        <result column="black_uname" property="blackUname" />
        <result column="create_uid" property="createUid" />
        <result column="create_time" property="createTime" />
        <result column="update_uid" property="updateUid" />
        <result column="update_time" property="updateTime" />
        <result column="del" property="del" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, broker_tel, broker_name, contacts_tel, idcard, reg_time, type, verify_time, verify_uid, verify_uname, verify_status, enabled, black, black_time, black_uid, black_uname, create_uid, create_time, update_uid, update_time, del
    </sql>

</mapper>
