<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dywl.logistics.model.crm.mapper.ShipperCompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dywl.logistics.model.crm.entity.ShipperCompany">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="credit_code" property="creditCode" />
        <result column="addr" property="addr" />
        <result column="addr_detail" property="addrDetail" />
        <result column="admin_name" property="adminName" />
        <result column="admin_tel" property="adminTel" />
        <result column="invoice_title" property="invoiceTitle" />
        <result column="taxer_id" property="taxerId" />
        <result column="telepone" property="telepone" />
        <result column="bank" property="bank" />
        <result column="account" property="account" />
        <result column="receiver" property="receiver" />
        <result column="receiver_addr" property="receiverAddr" />
        <result column="receiver_tel" property="receiverTel" />
        <result column="customer_id" property="customerId" />
        <result column="customer_tel" property="customerTel" />
        <result column="customer_name" property="customerName" />
        <result column="depart_id" property="departId" />
        <result column="create_uid" property="createUid" />
        <result column="create_time" property="createTime" />
        <result column="update_uid" property="updateUid" />
        <result column="update_time" property="updateTime" />
        <result column="del" property="del" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, credit_code, addr, addr_detail, admin_name, admin_tel, invoice_title, taxer_id, telepone, bank, account, receiver, receiver_addr, receiver_tel, customer_id, customer_tel, customer_name, depart_id, create_uid, create_time, update_uid, update_time, del
    </sql>

</mapper>
