<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dywl.logistics.model.crm.mapper.VehicleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dywl.logistics.model.crm.entity.Vehicle">
        <id column="id" property="id" />
        <result column="vehicle_no" property="vehicleNo" />
        <result column="vehicle_type" property="vehicleType" />
        <result column="vehicle_load" property="vehicleLoad" />
        <result column="vehicle_len" property="vehicleLen" />
        <result column="owner" property="owner" />
        <result column="owner_tel" property="ownerTel" />
        <result column="trans_card" property="transCard" />
        <result column="busi_no" property="busiNo" />
        <result column="idcard" property="idcard" />
        <result column="verify_time" property="verifyTime" />
        <result column="verify_uid" property="verifyUid" />
        <result column="verify_uname" property="verifyUname" />
        <result column="verify_status" property="verifyStatus" />
        <result column="create_uid" property="createUid" />
        <result column="create_time" property="createTime" />
        <result column="update_uid" property="updateUid" />
        <result column="update_time" property="updateTime" />
        <result column="del" property="del" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, vehicle_no, vehicle_type, vehicle_load, vehicle_len, owner, owner_tel, trans_card, busi_no, idcard, verify_time, verify_uid, verify_uname, verify_status, create_uid, create_time, update_uid, update_time, del
    </sql>

</mapper>
